@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

.product-card {
  border: 1px solid #ddd;
  padding: 10px;
  margin: 10px;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 280px;
  max-height: 511px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "inter", sans-serif;
}

.product-image {
  width: 100%;
  height: auto;
  max-height: 180px;
  object-fit: contain;
  margin-bottom: 10px;
}

.product-info {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-name {
  font-size: 1.1em;
  margin-bottom: 5px;
}

.product-description {
  text-align: left;
  font-size: 0.8em;
  margin-bottom: 5px;
  color: #666;
}

.product-original-price {
  text-align: left;
  font-size: 0.6em;
  color: #888;
  text-decoration: line-through;
  margin-bottom: 5px;
}

.product-price {
  text-align: left;
  font-size: 1em;
  color: #333;
  margin-bottom: 5px;
}

.product-installments {
  font-size: 0.7em;
  text-align: left;
  color: #888;
  margin-bottom: 10px;
}

.add-to-cart-button {
  background-color: #a4bebf;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.add-to-cart-button:hover {
  background-color: #555;
}
