.opportunities {
    padding: 20px 0;
    background-color: #f8f8f8;
    position: relative; /* Para posicionar as setas de navegação */
}

.opportunities h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.5em;
    color: #333;
    position: relative;
}

.opportunities h2::after {
    content: '';
    display: block;
    width: 60px;
    height: 2px;
    background-color: #ccc; /* Linha cinza clara */
    margin: 10px auto 0;
}

.product-carousel-wrapper {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}

.product-carousel {
    display: flex;
    justify-content: center; /* Centraliza os itens */
    gap: 20px; /* Espaçamento entre os cartões */
    overflow-x: auto;
    scroll-behavior: smooth;
    padding: 20px 0; /* Espaçamento interno para as setas */
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 10;
}

.arrow.left {
    left:-5px;
}

.arrow.right {
    right: -5px;
}

.arrow img {
    width: 15px;
    height: 15px;
}
