@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 21.5px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-section {
    width: 30%;
}

.footer-section h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section ul li a {
    color: #fff;
    text-decoration: none;
}

.footer-section p {
    margin: 10px 0;
}

.footer-section img {
    max-width: 100px;
    margin-right: 10px;
}

.payment-methods img {
    margin: 0 5px;
    max-width: 50px;
}
